<div class="container">
  <div class="perfil">
    <div class="perfil__img">
      <img src="/assets/images/perfil.png" alt="">
    </div>
    <div class="text">
      <h2>Educacion</h2>
      <hr>
      <p>DISEÑO INDUSTRIAL (bellas artes) <span>2017 – 2021 (UNLP)</span> </p>
      <p>TUDAI (desarrollo de aplicaciones) <span>2021 – presente (UNICEN)</span> </p> <br>
    </div>
  </div>
  <div class="info">
    <div class="title">
      <h2> Quien soy</h2>
    </div>
    <div class="text">
      <p>
        a mis 18 años decidí irme a estudiar diseño a la plata, conocí lo que era vivir solo, estudiar, cocinarse, moverse
         (hacerse adulto). luego de 3 años de estudios, ya dándome cuenta que el diseño industrial no era lo mio, llego la
          pandemia, algo que cambio no solo a mi sino al mundo, me di cuenta de muchas cosas y descubrí lo que era la programación
          de apoco fui entrando en ese mundo, cuando volví a mi ciudad me dispuse programar y me anote en la tecnicatura de la UNICEN
          hoy ya con 1 año programando no solo con lo de la facultad sino experimentando y aprendiendo por mi parte busco empleo para
          poder aplicar y brindar mis servicios de programación y diseño para alguien que lo necesite.      </p>
    </div>
  </div>
  <div class="base">

  </div>
</div>
