<div class="container">
  <div class="perfil">
    <div class="perfil__img">
      <img src="/assets/images/perfil.png" alt="">
    </div>
    <div class="text">
      <h2>Educacion</h2>
      <hr>
      <p>DISEÑO INDUSTRIAL (bellas artes) <span>2017 – 2021 (UNLP)</span> </p>
      <p>TUDAI (desarrollo de aplicaciones) <span>2021 – presente (UNICEN)</span> </p> <br>
    </div>
  </div>
  <div class="info">
    <div class="title">
      <h2> Quien soy</h2>
    </div>
    <div class="text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore at nihil, aperiam officiis accusamus dolor doloremque ipsam, veritatis vel quae obcaecati ipsum perspiciatis consequuntur dolorum, minima sunt? Architecto, ullam mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aspernatur ullam id dolore quibusdam possimus consectetur accusantium, libero, consequatur, omnis dolorem placeat quae animi tempora. Eaque vel inventore dolorum ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quod illo molestiae nemo magni, doloribus quo optio voluptatibus sed commodi asperiores adipisci quaerat placeat rerum veritatis minus quasi laboriosam? Laborum.
      </p>
    </div>
  </div>
  <div class="base">

  </div>
</div>
