
<div class="footer">
  <div class="contact">
    <h2>CONTACT</h2>
  </div>
  <div class="nav">
    <div class="github"><a href="https://github.com/francosalvati"><img src="/assets/images/github.png" alt=""></a></div>
    <div class="linkedin"><a href="https://www.linkedin.com/in/francosalvati"><img src="/assets/images/linkedin.png" alt=""></a></div>
    <div class="instagram"><a href="https://www.instagram.com/salvatifranco"><img src="/assets/images/instagram.png" alt=""></a></div>
    <div class="gmail"><a value="francosalvati98@gmail.com" (click)="copy()"><img src="/assets/images/gmail.png" alt=""></a></div>
  </div>

  <button mat-stroked-button (click)="copy()">Show snack-bar</button>
</div>
