
<div class="navb" id="nav">
  <ul>
    <li>
      <a (click)="toPresentation()">
        <span class="icon"><ion-icon name="planet-outline"></ion-icon></span>
        <span class="text">home</span>
      </a>
    </li>
    <li>
      <a (click)="toSkills()">
        <span class="icon">
          <ion-icon name="accessibility-outline"></ion-icon>
        </span>
        <span class="text">Skills</span>
      </a>
    </li>
    <li>
      <a (click)="toProyects()">
        <span class="icon">
          <ion-icon name="ribbon-outline"></ion-icon>
        </span>
        <span class="text">Proyects</span>
      </a>
    </li>
    <li>
      <a (click)="toContact()">
        <span class="icon">
          <ion-icon name="send-outline"></ion-icon>
        </span>
        <span class="text">Contact</span>
      </a>
    </li>
  </ul>
</div>
