<div class="container">
  <div class="img">
    <div class="img__css"><img src="assets/images/css.png" alt=""></div>
    <div class="img__angular"><img src="assets/images/angular.png" alt=""></div>
    <div class="img__html"><img src="assets/images/html.png" alt=""></div>
  </div>
  <div class="list">
    <ul>
      <li>
        <p>
          <ion-icon name="book-outline"></ion-icon><br>
          Español-English
        </p>
      </li>
      <li>
        <p>
          <ion-icon name="brush-outline"></ion-icon><br>
          Designer
        </p>
      </li>
      <li>
        <p>
          <ion-icon name="accessibility-outline"></ion-icon><br>
          Predisposition
        </p>
      </li>
      <li>
        <p>
          <ion-icon name="bicycle-outline"></ion-icon><br>
          Active student
        </p>
      </li>
    </ul>
  </div>
</div>
